seed = 5671917106
test_type = LADD
num_circuits = 10
num_inputs = 5
num_levels = 5
W = 100
K = 80
L = 6
generate = True
L = 42
generate = True
test_type = LADDconst
L = 6
generate = True
L = 42
generate = True
test_type = LMUL
L = 6
generate = True
L = 42
generate = True
test_type = LMULconst
L = 6
generate = True
L = 42
generate = True
test_type = LSELECT
L = 6
generate = True
L = 42
generate = True
test_type = LROTATE
L = 6
generate = True
L = 42
generate = True