seed = 7624301471
test_type = RANDOM
num_circuits = 2
num_inputs = 5
K = 80
L = 378
D = 6
W = 4
generate = True
W = 10
generate = True
W = 20
generate = True
W = 50
generate = True
W = 100
generate = True
W = 1000
generate = True
D = 7
W = 4
generate = True
W = 10
generate = True
W = 20
generate = True
W = 50
generate = True
W = 100
generate = True
W = 1000
generate = True
L = 630
D = 12
W = 4
generate = True
W = 10
generate = True
W = 20
generate = True
W = 50
generate = True
W = 100
generate = True
W = 200
generate = True
L = 600
D = 18
W = 4
generate = True
W = 10
generate = True
W = 20
generate = True
W = 50
generate = True
W = 100
generate = True
L = 682
D = 21
W = 4
generate = True
W = 10
generate = True
W = 20
generate = True
W = 50
generate = True
W = 100
generate = True
D = 24
W = 4
generate = True
W = 10
generate = True
W = 20
generate = True
W = 50
generate = True